body {
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    font-size: var(--t-base-fs);
    color: var(--t-secondary);
    background-color: var(--t-background);
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    padding-bottom: 0.5em;
    margin: 0;
    color: var(--t-tertiary);
}

p {
    margin: 0;
    padding-bottom: 1rem;
    line-height: 2rem;
}
button {
    all: unset;
    cursor: pointer;
}

.text-success {
    color: var(--t-success);
}

.text-warning {
    color: var(--t-warning);
}

.text-danger {
    color: var(--t-danger);
}
